.Collapsible {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  will-change: transform;
}

.CollapsibleContainer {
  // animation-name: collapsibleContainerAnimation;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}

.CollapsibleContent {
  // animation-name: collapsibleContentAnimation;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}

// .CollapsibleContainerExpanded {
//   animation-name: collapsibleContainerAnimation;
// }
// .CollapsibleContentExpanded {
//   animation-name: collapsibleContentAnimation;
// }
// .CollapsibleContainerCollapsed {
//   animation-name: collapsibleContentAnimation;
// }
// .CollapsibleContentCollapsed {
//   animation-name: collapsibleContainerAnimation;
// }
